// .low-stock {
//     background-color: #fedfdf; /* Light red for low stock */
//   }
  
.reorder-btn {
    background-color: rgb(241, 10, 10); /* Red for Reorder button */
    
  }
  
  .reordered-btn {
    background-color:rgb(10, 10, 153)/* Blue for Reordered button */
  }
  
  th {
    background-color: #510771;
    color: #fff;
}
