.logo {
    position: relative;
   
  }
  
  .logo img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  
  .login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow for better visibility */
    width: 500px;
    background-color: rgb(4, 49, 5);
  }
  
  .back-btn{

    position: relative;
    bottom:200px;
    right: 30px;
    text-align: end;
}
.back-btn button{
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: rgb(12, 102, 161);
    color: white;
    font-weight: bold;
}
.back-btn button:hover{
  scale:1.2;
}
