
<body>

  <div class="container">
    <div class="view">
      <h1>Patient Information</h1>
  
      <ul class="patient-info">
          <li><strong>AppointmentId:</strong> {{ patientview.patdetails.Appointment_Id }}</li>
          <li><strong>PatientName:</strong> {{ patientview.patdetails.Patient_Name }}</li>
          <li><strong>Gender:</strong> {{ patientview.patdetails.Gender }}</li>
          <li><strong>PatientAge:</strong> {{ patientview.patdetails.PatientAge }}</li>
          <li><strong>BloodGroup:</strong> {{ patientview.patdetails.BloodGroup }}</li>
          <li><strong>PhoneNumber:</strong> {{ patientview.patdetails.PhoneNumber }}</li>
          <li><strong>CheckUpStatus:</strong> {{ patientview.patdetails.AppointmentStatus }}</li>
      </ul>
  </div>
      
  </div>


  <div class="d-flex justify-content-center align-items-center">
  
    <div class="mx-2">
      <button class="btn btn-info btn-danger" (click)="history(patientview.patdetails.PatientId)">View History</button>
    </div>
  
    <div class="mx-2">
      <button class="btn btn-info btn-danger" (click)="goto(patientview.patdetails.Appointment_Id)">Start Diagnosis</button>
    </div>
  </div>
  
  <div class="back-btn">
    <button (click)="back()">
        Back
    </button>
    
        </div>
 
