



<body>
  <div class="container">
    <h2 class="mb-4 heading-3d" data-text="Appointments" style="font-size: 30px;font-weight:bold; margin: 30px;">Appointments</h2>
    <div class="form-control search-btn">
      <input class="form-control" type="text" placeholder="Search name here" [(ngModel)]="filter">
      </div>
    <table class="table table-bordered table-striped " style="width: 1000px; margin: auto; margin-bottom: 100px">
      <thead class="thead-dark bg-danger btn-primary">
        <tr>
          <th>AppointmentId</th>
          <th>Token No</th>
          <th>PatientName</th>
          <th>AppointmentDate</th>
          <th>CheckUpStatus</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of dappointmentViewModelService.appointments|filter:filter">
          <td>{{ p.Appointment_Id }}</td>
          <td>{{ p.Token_No }}</td>
          <td>{{ p.Patient_Name }}</td>
          <td>{{ p.Appointment_Date | date:'dd-MMM-yyyy' }}</td>
          <td>{{ p.CheckUp_Status }}</td>
          <td>
            <button class="btn btn-info btn-danger bg-danger" (click)="goto(p.Appointment_Id)">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

