<body>
    <div class="login">
        <div class="login-card">
            <button (click)="wholelogin()">Admin</button>
        </div>
        <div class="login-card">
            <button (click)="wholelogin()">Receptionist</button>
        </div>
        <div class="login-card">
            <button (click)="wholelogin()">Doctor</button>
        </div>
        <div class="login-card">
            <button (click)="wholelogin()">Pharmacist</button>
        </div>
        <div class="login-card">
            <button (click)="wholelogin()">Lab Technician</button>
        </div>
    </div>
    <div class="back-btn">
<button (click)="back()">
    Back
</button>

    </div>
</body>